{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "semi": false,
    "printWidth": 100,
    "bracketSpacing": true,
    "trailingComma": "none",
    "arrowParens": "always",
    "endOfLine": "lf"

}
